<div id="<%= dom_id want %>">
  <%= image_tag want.image.variant(:thumb) %>
  <p>
    <strong>Title:</strong>
    <%= want.title %>
  </p>

  <p>
    <strong>Descrition:</strong>
    <%= want.descrition %>
  </p>

</div>
